.ds-stuff-wrap {
    position: relative;
    width: 720px;
    height: 335px;
}

.ds-stuff {
    position: absolute;
    left: 0;
    top: 0;
}

/* Carousel */

.msicarousel {
    overflow: hidden;
    position: relative;
}

.msicarousel ul {
    float: left;
    position: relative;
    width: 2000px;
}



/*.carousel .control {
    display: block;
    float: left;
    width: 60px;
    height: 176px;
    background: url(/asset2012/images/layout/slider_arrow_left.png) no-repeat center center;
}
.carousel .control-next {
    background: url(/asset2012/images/layout/slider_arrow_right.png) no-repeat center center;
}
.carousel {
    overflow: hidden;
    width: 940px;
    position: relative;
    margin: 0;
}
.carousel > div {
    overflow: hidden;
    width: 820px;
    position: relative;
    float: left;
}
.carousel ul {
    float: left;
    list-style-type: none;
    position: relative;
    left: -164px;
    padding-bottom: 0;
    margin: 0 !important;
}
.carousel ul li {
    display: block;
    float: left;
    width: 144px;
    margin: 0 10px;
    padding: 20px 0;
    position: relative;
}
.carousel img {
    display: block;
    cursor: pointer;
    float: left;
    margin-bottom: 10px;
}*/
